.input {
  height: 25px;
  background-color: #f4f4f4;
  color: rgb(49, 47, 47);
  margin-bottom: 0px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(49, 47, 47);
  border-left: 1px solid rgb(49, 47, 47);
  padding-left: 8px;
}

.input:focus {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgb(49, 47, 47);
  outline: none;
}

.input::placeholder {
  font-size: 0.625rem;
  color: #c1bbbbe7;
}

.label {
  font-size: 0.625rem;
  font-weight: 900;
  margin-top: 0px;
}

.error {
  max-width: 89%;
  color: #a21616;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
