body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWidth {
  width: 89%;
}

.password {
  position: relative;
}

.password img {
  position: absolute;
  right: 40px;
  text-align: center;
  bottom: 10%;
  max-width: 18px;
}

.errorMessage {
  color: rgb(183, 4, 4);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 6px;
  margin-top: 0;
}

.button {
  margin-top: 16px;
}
