.progressBar {
  height: 95px;
  width: 100%;
  background: rgb(94, 93, 93);
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 6px 13px -3px black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  width: 20px;
  overflow: visible;
}

.flex p {
  margin: 7px 0 0 0;
}

.circle {
  border-radius: 50%;
  /* background: #a2a1a1; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  z-index: 1;
  box-shadow: 0 0 18px 0px #0000004a;
}

.darkGrey {
  color: #5d5d5d;
}

.grey {
  background: #a2a1a1;
}

.white {
  color: white;
}

.red {
  background: #b66565;
}

.icon {
  height: 16px;
}

.lightGrey {
  background: #7a7878;
}

.hr {
  width: 27%;
  height: 10px;
  border: none;
  margin: 0px -121px;
  margin-bottom: 21px;
  box-shadow: 0 0 15px -2px #0000004a;
}


